[submodule "Child_One"]
	path = Child_One
	url = https://github.com/SunilDSK/Child_One.git 
	branch = test
[submodule "Child_Two"]
	path = Child_Two
	url = https://github.com/SunilDSK/Child_Two.git 
	branch = test
